@font-face {
    font-family: 'Gotham';
    src: url('./Gotham/Gotham-Light.otf');
}

:root{
    --primary-color: #40106F;
    --primary-color-highlight: #FFF;
    --bs-body-font-family: sans-serif;
}

.col-6, .col-4 {
    height: auto; /* Ensure columns are only as tall as their content */
}

img {
    max-width: 100%; /* Keep images responsive */
    height: auto; /* Maintain image aspect ratio */
}

/*Hero Styling*/
.hero{
    background-image: url("./img/backgrounds/Background1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.hero_content{
    font-weight: bold;
    color: var(--primary-color-highlight);
}

.hero_content h2{
    font-size: 60px;
    
}

.hero_content h3{
    font-size: 50px;
}

.hero_content p{
    font-size: 20px;
}

.hero_content button{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.hero_content a{
    color: #40106F;
    text-decoration: none;
}

.hero_content button:hover{
    color: #40106F;
}
.p_purple p{
    color: #40106F;
    font-size: 16px;
    margin-top: 9rem;
}

.first_section h2{
    color: #40106F;
    font-size: 70px;
}

.first_section h3{
    color: #40106F;
    font-size: 60px;
}
.first_section p{
    font-size: 20px;
    color: #0a1a44;
}


.google_play{
    display: block;
    margin-left: 5rem;
    /*margin-right: auto;*/
    
}

.first_section{
    margin-top: 10rem;
}

/*Pricing*/
.pricing{
    margin-top: 10rem;
    background-color: #fafafa;
    color: #40106F;
    padding-bottom: 3rem;
}

.timokatalogos h2{
    margin-top: 6rem;
    font-size: 36px;
    font-weight: bold;
}

.timokatalogos h4{
    font-size: 20px;
}

.price_card{
    background-color: #ededed;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 20px;
}

.price_card h3{
    font-size: 20px;
    font-weight: bold;
}

.price_card h4{
    font-size: 20px;
}

.first_price{
    font-size: 40px;
    font-weight: bold;
}
.all_pricing{
    font-size: 20px;
}

/*Third Section of page*/
.where_is_adressed{
    margin-top: 10rem;
    color: #40106F;
}

.where_is_adressed h2{
    font-size: 40px;
    font-weight: bold;
}

.where_is_adressed h3{
    font-size: 35px;  
}

.dark_p{
    color: #0a1a44;
    font-size: 18px;
}

.bold_p{
    font-weight: bold;
    font-size: 19px;
}

.android_pos{
    background-image: url(./img/backgrounds/Background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: #fff;
}

.android_pos img{
    margin-top: 10rem;
}

.android_pos h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15rem;
}

.android_pos p{
    text-align: right;
    font-size: 20px;
}

/*form*/
.contact_form h2{
    font-size: 42px;
    font-weight: bold;
    color: #5e6ed6;
    margin-top: 8rem;
}
.contact_form p{
    font-size: 21px;
    margin-top: 1.5rem;
}

.contact_form form {
    margin-top: 1.5rem;
}

input[type=text]{
    background-color: #5e6ed6;
    border-radius: 20px;
}

#consent_checkbox{
    border-color: #5e6ed6;
    border-radius: 0;
    border-width: 2px;
}

.contact_form a {
    color: #000;
}

.form_button{
    background-color: #5e6ed6;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    /*padding-left: 2rem;
    padding-right: 2rem;
    width:10rem;
    margin-top: 1.5rem;*/
    margin-top: 2rem;
}

.contact_form .container{
    padding-bottom: 6rem;
}

form .row{
    margin-bottom: 3rem;
}



/*@media (max-width: 544px){
    .hero_content img{
        /*width: 500px;
    }

}*/

@media (max-width: 767px){
    
    .hero_content h2{
        font-size: 50px;
    }

    .hero_content h3{
        font-size: 40px;
    }

    .hero_content p{
        font-size: 15px;
    }

    /*where_is_adressed section*/
    .where_is_adressed h2{
        margin-top: 3rem;
    }

    .where_is_adressed p{
        margin-top: 1rem;
        width: 75% !important; 
    }

    .p_purple p{
        margin-top: 3rem;
    }

    .first_section .text_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first_section .text_section p{
        width: 75% !important;
        margin-bottom:3rem;
    }

    /*android POS section*/
    .android_pos img{
        margin-top: 6rem;
    }

    .android_pos h2{
        margin-top: 2rem;
    }

    .android_pos p{
        width: 75% !important;
    }

    .contact_form h2{
        text-align: center;
    }

    .contact_form p{
        text-align: center;
        width: 75%;
    }

    form .row{
        margin-bottom: 0rem;
    }

    input[type=text]{
        width: 60%;
        margin-bottom: 1rem ;
    }

    .consent_check{
        margin-top: 1rem;
    }

    .hero{
        background-size: 350%;
        background-position: top center;
        height: 120vh;
    }

    .hero_content img{
       width: 300px;

    }



}

